
.banner{
    border: 24px;
    padding: 20px;
    background-color: rgb(198, 228, 214);
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin: 80px 80px;
    border-radius: 24px;
    box-sizing: border-box;
}
.banner-content{ 
    width: 622px;
    height: auto;
    gap: 24px;
    margin: 0px 64px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start; 
} 



.title{
    position: static;
font-weight: 500;
height: 29px;
font-size: 24px;
color:rgba(14, 14, 14, 0.5) ;
text-align: left;
}

.index{  
   font-weight: 700;
   font-size: 56px;
   height: 67px;
   color: rgb(14, 14, 14);
   margin: 16px 0px;
   height: auto;
   text-align: left;
}

.btn{  
    background-color: rgb(0, 106, 80);
    color: white;
 font-weight: 270;
 height: auto;
 border: none;
 padding: 17px 34px;
 border-radius: 8px;
 margin-top: 16px;
 
}

.banner-profile-picture{
      width: 100%;
      height: auto;
      max-width: 560px;
}






/* 222222 */




 body {
    margin: 0;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
    background-color: #f9f9f9; 
 }  

/* Section Styles */

.pillars {
    text-align: center;
    padding: 60px 100px 100px 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16spx;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    margin: auto;
}

.pillars h2 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.pillar-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    padding: 10px 5px 10px 0px;
}


.pillar-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    text-align: center;
    flex: 0 0 calc(25% - 10px); 
    max-width: calc(25% - 10px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}

.pillar-card:hover {
    transform: translateY(-5px);
}

.pillar-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.pillar-card h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.pillar-card p {
    font-size: 16px;
    color:393A3A;
}





/*### Vision ### */


/* General Styles */

body {
    margin: 0;
    padding: 50px 0 0 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px; 
    margin: 0 auto; 
    background-color: #f9f9f9; 
}

/* Section Styles */

.pillars {
    text-align: left;
    padding: 60px 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
}

.pillars h2 {
    width: 1280px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.pillar-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    /* flex-direction: row; */
    padding: 10px;
}


.pillar-card {
    background-color: #C6E4D6;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    flex: 1 1 calc(30% - 20px); 
    max-width: calc(25% - 10px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pillar-card:hover {
    transform: translateY(-5px);
}

.pillar-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.pillar-card h4 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.pillar-card p {
    font-size: 16px;
    color:#0E0E0E;
}

.btn-1{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color:#FFFFFF;
    background-color: #5490F5; 
    border: none;
    border-radius: 4px;
}

.btn-2{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #09A15C; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-3{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FFC239; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pillar-card:nth-child(3) {
    background-color: #F7EBCF; 
}



/* ###<!-- Your Opinion Matters --> */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-color: #d6f0e3;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #000000;
    text-align: left;
}

.table-container {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #d6f0e3;
    text-align: left;
    padding: 12px;
    color: #333;
    font-weight: bold;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #555;
}

.dropdown {
    padding: 10px 15px;
    font-size: 14px;
    color: #000000;
    background-color: #C6E4D6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown:hover {
    background-color: #C6E4D6;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 18px;
    }

    .table-container {
        padding: 10px;
    }

    td, th {
        font-size: 14px;
        padding: 8px;
    }

    .dropdown {
        font-size: 12px;
        padding: 8px 10px;
    }
}


/* 444 Aljazeera-1: */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.containr {
    max-width: 900px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: bold;
    color: #0E0E0E;
}
.news-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.news-item img {
    width: 400px;
    border-radius: 8px;
}
.news-content {
    flex: 1;
}
.news-content h3 {
    font-size: 22px;
    margin: 0;
    color: #0E0E0E;
}
.news-content p {
    margin: 10px 0;
    color: #0E0E0E;
}
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006A50;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.read-more:hover {
    background-color: #1e4a63;
}


.imgs{
    width: 134px;
    height: 40px;
    border-radius: 8px;
}





/* 4.222 aljazeera-2 */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: bold;
    color: #0E0E0E;
}
.news-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.news-item img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}
.news-content {
    flex: 1;
}
.news-content h3 {
    font-size: 22px;
    margin: 0;
    color: #0E0E0E;
}
.news-content p {
    margin: 10px 0;
    color: #0E0E0E;
    color: ;
}
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006A50;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.read-more:hover {
    background-color: #1e4a63;
}

img{
    width: 120px;
    height: 40px;
    border-radius: 8px;
}




/* 4.333 aljazeera-3 */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: bold;
    color: #0E0E0E;
}
.news-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.news-item img {
    width: 400px;
    border-radius: 8px;
}
.news-content {
    flex: 1;
}
.news-content h3 {
    font-size: 22px;
    margin: 0;
    color: #0E0E0E;
}
.news-content p {
    margin: 10px 0;
    color: #0E0E0E;
}
.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #006A50;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.read-more:hover {
    background-color: #1e4a63;
}


.imgs{
    width: 134px;
    height: 40px;
    border-radius: 8px;
}




/*  5.00 Donate Today: */

/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 464px;
    width: 1280px;
    padding: 50px;
/* } */

.donation-container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.donation-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.donation-container p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666666;
}

.donation-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.donation-option {
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    padding: 40px 40px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    background-color: #ffffff;
    transition: all 0.3s ease;
    
}

.donation-option:hover {
    border-color: #007b5e;
}

.donation-option.active {
    background-color: #cdece3;
    border-color: #007b5e;
}

.donation-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    padding-left: 280px;
    padding-right: 280px;
    font-size: 16px;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.donate-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #006A50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.donate-button:hover {
    background-color: #005d46;
} 




/* 7...Subscribe Newsletter: */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .newsletter-container {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    background-color: #d8f0e4;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .newsletter-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2d2d2d;
  }
  
  .newsletter-container p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .newsletter-form input {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    color: #555;
  }
  
  .newsletter-form input::placeholder {
    color: #aaa;
  }
  
  .newsletter-form button {
    padding: 12px 20px;
    border: none;
    background-color: #006d4b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
  }
  
  .newsletter-form button:hover {
    background-color: #00563b;
  }
  
  .no-spam {
    font-size: 14px;
    color: #888;
    margin-top: 15px;
  }